<!DOCTYPE html>
<html lang="ru">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    {% if title %}
        <title>{{ title }} - 汉语中心</title>
    {% else %}
        <title>汉语中心</title>
    {% endif %}
</head>
{{ bootstrap.load_css() }}
<link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
{{ moment.include_moment() }}
{{ moment.locale(auto_detect=True) }}
<header class="header container d-flex flex-wrap align-items-center justify-content-md-between py-3 mb-4">
    <div class="col-md-3 mb-2 mb-md-0 left-header">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
            <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap">
                <use xlink:href="#bootstrap"></use>
            </svg>
        </a>
    </div>

    <ul class="nav col-12 col-md-auto justify-content-center mb-md-0">
        <li><a href="/index" class="nav-link px-2">Дом</a></li>
        {% if current_user.is_authenticated %}
            <li><a href="/user/{{ current_user.id }}" class="nav-link px-2">Профиль</a></li>
        {% endif %}

        {% if current_user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link px-2 dropdown-toggle" href="#" id="navbarDropdown" role="button"
                   data-bs-toggle="dropdown"
                   aria-expanded="false">
                    Слова
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/userwords">Мои Слова</a></li>
                    <li><a class="dropdown-item" href="/words">Слова</a></li>
                </ul>
            </li>
        {% else %}
            <li><a href="/words" class="nav-link px-2 link-dark">Слова</a></li>
        {% endif %}

    </ul>
    <div class="col-md-3 text-end" style="display: flex; flex-direction: row; align-items: center;">
        <div class="form-check form-switch text-center">
            <input class="form-check-input" type="checkbox" id="darkSwitch" onchange="toggleTheme()" data-theme-toggle>
            <label class="form-check-label" for="darkSwitch">Dark theme</label>
        </div>
        {% if current_user.is_anonymous %}
            <a class="btn btn-outline-primary me-2" href="{{ url_for('login') }}">login</a>
        {% else %}
            <a class="btn btn-outline-primary me-2" href="{{ url_for('logout') }}">logout</a>
        {% endif %}
    </div>
</header>

<main>
    <body class="d-flex flex-column h-100">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="container">
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
    <div class="modal fade" id="modal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Stroke order</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>
    </body>
</main>
<footer class="footer mt-auto py-3 d-flex container">
    <div class="container">
        <span>Тимофеев Кирилл, 2024</span>
    </div>
</footer>
</html>
{% block scripts %}
{% endblock %}
<script>
    function getTheme() {
        return localStorage.getItem('theme') || 'light';
    }

    function toggleTheme() {
        const body = document.body;
        const checkbox = document.getElementById('darkSwitch');
        if (body.classList.contains('dark-theme')) {
            body.classList.remove('dark-theme');
            localStorage.setItem('theme', 'light');
            checkbox.checked = false;
        } else {
            body.classList.add('dark-theme');
            localStorage.setItem('theme', 'dark');
            checkbox.checked = true;
        }
    }

    window.addEventListener('DOMContentLoaded', function () {
        const theme = getTheme();
        if (theme === 'dark') {
            document.body.classList.add('dark-theme');
            document.getElementById('darkSwitch').checked = true;
        }
    })
</script>
<script>
    let prevScrollPos = window.scrollY;
    let isScrollingUp = false;
    let hideHeaderTimeout;

    window.addEventListener('scroll', () => {
        const header = document.querySelector('header');
        const currentScrollPos = window.scrollY;

        if (window.innerWidth <= 768) {
            if (prevScrollPos > currentScrollPos) {
                // Прокрутка вверх
                isScrollingUp = true;
                header.classList.remove('hide');
                clearTimeout(hideHeaderTimeout);
            } else if (currentScrollPos > 0) {
                // Прокрутка вниз
                isScrollingUp = false;
                hideHeaderTimeout = setTimeout(() => {
                    header.classList.add('hide');
                }, 300); // Задержка перед скрытием хедера
            }

            prevScrollPos = currentScrollPos;
        } else {
            // На больших экранах всегда показывать хедер
            header.classList.remove('hide');
        }

        // Если пользователь достиг верха страницы при прокрутке вверх
        if (currentScrollPos === 0 && isScrollingUp) {
            header.classList.remove('hide');
            isScrollingUp = false;
            clearTimeout(hideHeaderTimeout);
        }
    });
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/hanzi-writer@3.5/dist/hanzi-writer.min.js"></script>
<script>
    {% if current_user.is_authenticated %}
        window.addEventListener('DOMContentLoaded', function () {
            var accuracyCells = document.querySelectorAll('.percent');
            accuracyCells.forEach(function (cell) {
                var accuracy = parseInt(cell.textContent);
                if (accuracy >= 80) {
                    cell.classList.add('green');
                } else if (accuracy >= 60) {
                    cell.classList.add('yellow');
                } else if (accuracy >= 20) {
                    cell.classList.add('red')
                }
            })
        })
    {% endif %}
</script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script>
    window.addEventListener('DOMContentLoaded', function () {
        const toggleButtons = document.querySelectorAll('.toggle-children');
        console.log(toggleButtons)
        toggleButtons.forEach(button => {
            button.addEventListener('click', () => {
                const parent = button.parentElement.parentElement;
                const children = parent.nextElementSibling;
                children.style.display = children.style.display === 'none' ? 'block' : 'none';
                button.textContent = children.style.display === 'none' ? '↓' : '↑'
            });
        });
        const rowItems = document.querySelectorAll('div.row-item');
        let currentIndex = 0;
        const chineseElements = Array.from(document.querySelectorAll('.chinese'));
        rowItems.forEach(rowItem => {
            const chineseElement = rowItem.querySelector('.chinese');
            if (chineseElement) {
                rowItem.addEventListener('click', (event) => {
                    if (!event.target.closest('.toggle-children')) {
                        currentIndex = chineseElements.indexOf(chineseElement);
                        const answer = chineseElement.textContent.trim();
                        showModal(answer, currentIndex, chineseElements);
                    }
                });
            }
        });

        function showModal(answer, index, chineseElements) {
            var modalBody = document.querySelector('.modal-body');
            modalBody.innerHTML = ''; // Очистка содержимого модального окна
            modalBody.style.display = 'flex';
            modalBody.style.flexDirection = 'column';
            modalBody.style.flexWrap = 'nowrap';
            modalBody.style.justifyContent = 'center';

            const controlsContainer = document.createElement('div');
            controlsContainer.classList.add('controls-container');
            controlsContainer.innerHTML = `
                    <button class="control-button prev-button">&lt;</button>
                    <button class="control-button next-button">&gt;</button>
                `;
            modalBody.appendChild(controlsContainer);
            const isDarkMode = localStorage.getItem('theme') === 'dark';
            const strokeColor = isDarkMode ? '#ffffff' : '#333333';
            const outlineColor = isDarkMode ? '#333333' : '#ffffff';

            var characterContainer = document.createElement('div');
            characterContainer.classList.add('character-container');
            modalBody.appendChild(characterContainer);

            var answers = answer.split('');
            answers.forEach(function (char, idx) {
                var charTargetId = 'character-target-' + (idx + 1);
                var charDiv = document.createElement('div');
                charDiv.id = charTargetId;
                charDiv.style.width = '100px';
                charDiv.style.height = '100px';
                characterContainer.appendChild(charDiv);

                var writer = HanziWriter.create(charTargetId, char, {
                    width: 100,
                    height: 100,
                    padding: 5,
                    strokeAnimationSpeed: 1.5,
                    delayBetweenStrokes: 20,
                    strokeColor: strokeColor,
                    outlineColor: outlineColor,
                });
                charDiv.addEventListener('click', function () {
                    writer.animateCharacter();
                });
            });

            fetchTranslation(answer).then(function (data) {
                // Очищаем старые pronounciationDiv и translateDiv, если они есть
                pronounciationDiv = document.createElement('div');
                pronounciationDiv.textContent = data.pronunciation;
                pronounciationDiv.classList.add('character-container');
                modalBody.appendChild(pronounciationDiv);

                translateDiv = document.createElement('div');
                translateDiv.textContent = data.translation;
                translateDiv.classList.add('character-container');
                modalBody.appendChild(translateDiv);
            });

            $('#modal').modal('show');

            const prevButton = document.querySelector('.prev-button');
            const nextButton = document.querySelector('.next-button');

            if (index === 0) {
                prevButton.style.display = 'none';
            } else {
                prevButton.style.display = 'block';
            }

            if (index === chineseElements.length - 1) {
                nextButton.style.display = 'none';
            } else {
                nextButton.style.display = 'block';
            }

            prevButton?.addEventListener('click', prevHandler);
            nextButton?.addEventListener('click', nextHandler);
        }

        function fetchTranslation(char) {
            return fetch('/api/translate', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({'char': char})
            })
                .then(response => response.json())
                .catch(error => console.error('Ошибка:', error));
        }

        const prevButton = document.querySelector('.prev-button');
        const nextButton = document.querySelector('.next-button');

        function prevHandler() {
            if (currentIndex > 0) {
                currentIndex = (currentIndex - 1 + chineseElements.length) % chineseElements.length;
                showModal(chineseElements[currentIndex].textContent.trim(), currentIndex, chineseElements);
            }
        }

        function nextHandler() {
            if (currentIndex < chineseElements.length - 1) {
                currentIndex = (currentIndex + 1) % chineseElements.length;
                showModal(chineseElements[currentIndex].textContent.trim(), currentIndex, chineseElements);
            }
        }


        function keyHandler(event) {
            if (event.key === 'ArrowLeft') {
                prevHandler();
            } else if (event.key === 'ArrowRight') {
                nextHandler();
            }
        }

        // Удаляем старые обработчики событий, если они есть, и добавляем новые
        {#document.removeEventListener('keydown', keyHandler);#}
        {#document.addEventListener('keydown', keyHandler);#}
        {##}
        {#prevButton.removeEventListener('click', prevHandler);#}
        {#nextButton.removeEventListener('click', nextHandler);#}
        {##}
        {#prevButton.addEventListener('click', prevHandler);#}
        {#nextButton.addEventListener('click', nextHandler);#}

        {#prevButton?.addEventListener('click', prevHandler);#}
        {#nextButton?.addEventListener('click', nextHandler);#}

        // Добавляем обработчик событий для клавиш
        document.addEventListener('keydown', keyHandler);
    });
</script>