{% extends "base.html" %}
{% block content %}
    <main class="container">
        <h1>Deck {{ deck.name }}!</h1>
        <h6>by <a href="/user/{{ deck.creator.id }}">{{ deck.creator.username }}</a></h6>
        <div class="container">
            {% if current_user.is_authenticated %}
                {% if current_user.id == deck.creator_id or current_user.username == 'admin' %}
                    <a href="/edit_deck/{{ deck.id }}" class="btn btn-outline-secondary">Редактировать</a>
                {% endif %}
                {% if deck in current_user.decks %}
                    <a href="/test/{{ deck.id }}" class="btn btn-outline-secondary">Тест</a>
                {% else %}
                    <a href="/add_deck/{{ deck.id }}" class="btn btn-outline-secondary">Добавить</a>
                {% endif %}
            {% else %}
                <a href="/test/{{ deck.id }}" class="btn btn-outline-secondary">Тест</a>
            {% endif %}
        </div>
        {% if deck.cards %}
            {% if current_user.is_authenticated %}
                <div class="container">
                    <div id="chart-container">
                        <canvas id="myChart"></canvas>
                    </div>
                    <div id="info-container"></div>
                </div>
                <div class="table-container">
                    <div class="table-row heading">
                        <div class="row-item">Слово</div>
                        <div class="row-item">Произношение</div>
                        <div class="row-item">Перевод</div>
                        <div class="row-item">Статистика</div>
                        <div class="row-item">Раунды</div>
                    </div>
                    {% for card in deck.sort_percent_by_user(current_user.id) %}
                        <div class="table-row">
                            <div class="row-item">{{ card.chinese }}</div>
                            <div class="row-item">{{ card.transcription }}</div>
                            <div class="row-item">{{ card.translation }}</div>
                            <div class="row-item percent">{{ card.perf_by_user(current_user.id).accuracy_percentage }}%</div>
                            <div class="row-item">{{ card.perf_by_user(current_user.id) }}</div>
                        </div>
                        {% if card.children %}
                            {% for child in card.children.order_by() %}
                                <div class="table-row">
                                    <div class="row-item">--></div>
                                    <div class="row-item">{{ child.chinese }} {{ child.transcription }}</div>
                                    <div class="row-item">{{ child.translation }}</div>
                                    <div class="row-item percent">{{ child.perf_by_user(current_user.id).accuracy_percentage }}%</div>
                                    <div class="row-item"></div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
            {% else %}
                <div class="table-container">
                    <div class="table-row heading">
                        <div class="row-item">Слово</div>
                        <div class="row-item">Произношение</div>
                        <div class="row-item">Перевод</div>
                    </div>
                    {% for card in deck.cards %}
                        <div class="table-row">
                            <div class="row-item">{{ card.chinese }}</div>
                            <div class="row-item">{{ card.transcription }}</div>
                            <div class="row-item">{{ card.translation }}</div>
                        </div>
                        {% if card.children %}
                            {% for child in card.children.order_by() %}
                                <div class="table-row">
                                    <div class="row-item">--></div>
                                    <div class="row-item">{{ child.chinese }} {{ child.transcription }}</div>
                                    <div class="row-item">{{ child.translation }}</div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        {% else %}
            <p>no cards yet</p>
        {% endif %}
    </main>
{% endblock %}

{% if current_user.is_authenticated %}
    {% block scripts %}
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
            window.addEventListener("load", function () {
                fetch('/get-performance-data/{{ deck.id }}/{{ current_user.id }}')
                    .then(response => response.json())
                    .then(data => {
                        const chartData = {
                            labels: data.dates,
                            datasets: [{
                                label: 'Процент правильных ответов',
                                data: data.percentages,
                                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                                borderColor: 'rgba(54, 162, 235, 1)',
                                borderWidth: 1
                            }]
                        };

                        const ctx = document.getElementById('myChart').getContext('2d');
                        const myChart = new Chart(ctx, {
                            type: 'bar',
                            data: chartData,
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true,
                                        max: 110
                                    }
                                }
                            }
                        });

                        document.getElementById('chart-container').style.display = 'block';

                        myChart.canvas.addEventListener('click', function (event) {
                            const activePoints = myChart.getElementsAtEventForMode(event, 'index', {intersect: true}, true);
                            const firstPoint = activePoints[0];
                            if (firstPoint) {
                                const date = data.dates[firstPoint.index];
                                const percentage = data.percentages[firstPoint.index];
                                const wrongAnswers = data.wrongAnswers[firstPoint.index];
                                document.getElementById('info-container').innerHTML = `Дата: ${date}, Процент: ${percentage}%, Неправильные ответы: ${wrongAnswers}`;
                            }
                        });
                    });
            });
        </script>
        <script>
            window.addEventListener("load", function () {
                var accuracyCells = document.querySelectorAll('.percent');
                accuracyCells.forEach(function (cell) {
                    var accuracy = parseInt(cell.textContent);
                    if (accuracy >= 80) {
                        cell.classList.add('green');
                    } else if (accuracy >= 60) {
                        cell.classList.add('yellow');
                    } else if (accuracy >= 20) {
                        cell.classList.add('red')
                    }
                });
            });
        </script>
    {% endblock %}
{% endif %}