{% extends "base.html" %}

{% block content %}
    <main class="container">
        <h1>Deck {{ deck.name }}!</h1>
        <div class="container">
            {% if current_user.id == deck.creator_id or current_user.username == 'admin' %}
                <a href="/edit_deck/{{ deck.id }}" class="btn btn-outline-secondary">Редактировать</a>
                <a href="/test/{{ deck.id }}" class="btn btn-outline-secondary">Тест</a>
            {% endif %}
        </div>
        {% if deck.cards %}
            <div class="table-container">
                <div class="table-row heading">
                    <div class="row-item">Слово</div>
                    <div class="row-item">Произношение</div>
                    <div class="row-item">Перевод</div>
                    <div class="row-item" onclick="sortTable">Статистика</div>
                    <div class="row-item">Раунды</div>
                </div>
                {% for card in deck.sort_timestamp_by_user(current_user.id) %}
                    <div class="table-row">
                        <div class="row-item">{{ card.chinese }}</div>
                        <div class="row-item">{{ card.transcription }}</div>
                        <div class="row-item">{{ card.translation }}</div>
                        <div class="row-item">{{ card.perf_by_user(current_user.id).accuracy_percentage }}%</div>
                        <div class="row-item">{{ card.perf_by_user(current_user.id) }}</div>
                    </div>
                    {% if card.children %}
                        {% for child in card.children.order_by() %}
                            <div class="table-row">
                                <div class="row-item">--></div>
                                <div class="row-item">{{ child.chinese }} {{ child.transcription }}</div>
                                <div class="row-item">{{ child.translation }}</div>
                                <div class="row-item">{{ child.perf_by_user(current_user.id).accuracy_percentage }}%</div>
                                <div class="row-item"></div>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
        {% else %}
            <p>no cards yet</p>
        {% endif %}
    </main>
{% endblock %}
