{% extends "base.html" %}

{% block content %}
    <main class="container">
        <h1> Deck <a href="/deck/{{ deck.id }}">{{ deck.name }}</a></h1>
        {% if log_table %}
            <div class="table-container">
            <div class="table-row heading">
                <div class="row-item">Слово</div>
                <div class="row-item">Log</div>
            </div>
            {% for key, value in log_table.items() %}
                <div class="table-row">
                    <div class="row-item">{{ key }}</div>
                    <div class="row-item">{{ value }}</div>
                </div>
            {% endfor %}
            </div>
        {% endif %}
        {% if deck.cards %}
            <div class="table-container">
                <div class="table-row heading">
                    <div class="row-item">Слово</div>
                    <div class="row-item">Произношение</div>
                    <div class="row-item">Перевод</div>
                    <div class="row-item">Статистика</div>
                    <div class="row-item">Раунды</div>
                    <div class="row-item">Действия</div>
                    {% if current_user.id == deck.creator_id or current_user.username == 'admin' %}
                        <div class="row-item">Убрать</div>
                    {% endif %}
                </div>
                {% for card in deck.cards %}
                    <div class="table-row">
                        <div class="row-item">{{ card.chinese }}</div>
                        <div class="row-item">{{ card.transcription }}</div>
                        <div class="row-item">{{ card.translation }}</div>
                        <div class="row-item">{{ card.perf_by_user(current_user.id).accuracy_percentage }}%</div>
                        <div class="row-item">{{ card.perf_by_user(current_user.id) }}</div>
                        <div class="row-item">
                            <a href="/perf_update/{{ deck.id }}/{{ card.perf_by_user(current_user.id).id }}/right"
                               class="btn btn-outline-secondary">+1</a>
                            <a href="/perf_update/{{ deck.id }}/{{ card.perf_by_user(current_user.id).id }}/wrong"
                               class="btn btn-outline-secondary">-1</a>
                        </div>
                        {% if current_user.id == deck.creator_id or current_user.username == 'admin' %}
                            <div class="row-item">
                                <a href="/delete_from_deck/{{ deck.id }}/{{ card.id }}"
                                   class="btn btn-outline-secondary">Delete</a>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>no cards yet</p>
        {% endif %}
        {% if current_user.id == deck.creator_id or current_user.username == 'admin' %}
            <form action="" method="post">
                {{ form.hidden_tag() }}
                {{ form.char.label }}
                {{ form.char(size=32, class_="form-control") }}
                <p>
                    {% for error in form.char.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                <p>{{ form.submit(class_="btn btn-primary w-100 py-2") }}</p>
            </form>
            <a class="btn btn-primary w-100 py-2" data-toggle="modal" data-target="#AddModal">
                Add from file
            </a>
            <button type="button" class="btn btn-primary w-100 py-2" data-toggle="modal" data-target="#DeleteModal">
                Delete
            </button>
        {% endif %}
        <div class="modal fade" id="DeleteModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Подтверждение действия</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post">
                            {{ delete_form.hidden_tag() }}
                            {{ delete_form.assurance.label }}
                            {{ delete_form.assurance }}
                            <p>
                                {% for error in delete_form.assurance.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </p>
                            <p>{{ delete_form.submit(class_="btn btn-primary w-100 py-2") }}</p>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="AddModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Добавление в словарь</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post">
                            {{ add_form.hidden_tag() }}
                            {{ add_form.text.label }}<br>
                            {{ add_form.text(class_="form-control", rows=15) }}
                            <p>
                                {% for error in add_form.text.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </p>
                            <p>{{ add_form.submit(class_="btn btn-primary w-100 py-2") }}</p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
{% endblock %}