{% extends "base.html" %}

{% block content %}
    <main class="container">
        <h1>Hi, {{ current_user.username }}!</h1>
        <h1>Недавние модули</h1>
        <div class="container">
            {% if current_user.sort_user_decs_n(4) %}
                <div class="cards">
                    {% for deck in current_user.sort_user_decs_n(4) %}
                        <div class="card" style="flex: 1 1 calc(25% - 1em);">
                            <div class="card-body">
                                <h5 class="card-title">{{ deck.name }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">by {{ deck.creator.username }}</h6>
                                <a href="/deck/{{ deck.id }}" class="card-link">Open</a>
                                <a href="/review/{{ deck.id }}" class="card-link">Repeat</a>
                                <a href="/test/{{ deck.id }}" class="card-link">Test</a>
                                {% if current_user.id == deck.creator_id or current_user.username == 'admin' %}
                                    <a href="/edit_deck/{{ deck.id }}" class="card-link">Edit</a>
                                {% endif %}
                            </div>
                            <div class="card-footer text-muted">
                                <div class="progress-bar-row">
                                    <span class="progress-text">{{ moment(deck.edited_by_user(current_user.id)).fromNow() }}</span>
                                    <span class="progress-text">{{ deck.percent_for_user(current_user.id) }}%</span>
                                </div>
                                {% set percent = deck.percent_for_user(current_user.id) %}
                                {% if percent >= 80 %}
                                    {% set progress_color = 'bg-success' %}
                                {% elif percent >= 60 %}
                                    {% set progress_color = 'bg-warning' %}
                                {% else %}
                                    {% set progress_color = 'bg-danger' %}
                                {% endif %}
                                <div class="progress progress-slim">
                                    <div class="progress-bar {{ progress_color }}" role="progressbar"
                                         aria-valuenow="{{ percent }}" aria-valuemin="0" aria-valuemax="100"
                                         style="width: {{ percent }}%;"></div>
                                </div>

                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>Пока ничего нет</p>
            {% endif %}
        </div>

        <h1>Недавние слова</h1>
        {% if current_user.card_performance %}
            <div class="container">
                <div class="table-container">
                    <div class="table-row heading">
                        <div class="row-item">Слово</div>
                        <div class="row-item">Произношение</div>
                        <div class="row-item">Перевод</div>
                        <div class="row-item">Статистика</div>
                        <div class="row-item">Действия</div>
                    </div>
                    {% for performance in perform %}
                        <div class="table-row">
                            <div class="row-item">
                                <div class="chinese">{{ performance.card.chinese }}</div>
                            </div>
                            <div class="row-item">{{ performance.card.transcription }}</div>
                            <div class="row-item">{{ performance.card.translation }}</div>
                            <div class="row-item percent">{{ performance.accuracy_percentage }}%</div>
                            <div class="row-item">
                                <a href="/index/null/{{ performance.id }}"
                                   class="btn btn-outline-secondary">Обнулить</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <div class="container"><p>Пока ничего нет</p></div>
        {% endif %}
    </main>
{% endblock %}

{% block scripts %}
{% endblock %}