{% extends "base.html" %}

{% block content %}
    <main class="container">
        <h1>Hi, {{ current_user.username }}!</h1>
        <h1>Недавние модули</h1>
        {% if decks %}
            <div class="d-flex flex-row bd-highlight mb-3">
                {% for deck, time in zip2 %}
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ deck.name }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">by {{ deck.creator.username }}</h6>
                            <a href="/deck/{{ deck.id }}" class="card-link">Open</a>
                            <a href="/edit_deck/{{ deck.id }}" class="card-link">Edit</a>
                        </div>
                        <div class="card-footer text-muted">
                            {{ time }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>Пока ничего нет</p>
        {% endif %}

        <h1>Недавние слова</h1>
        {% if current_user.card_performance %}
            <div class="container">
                <div class="table-container">
                    <div class="table-row heading">
                        <div class="row-item">Слово</div>
                        <div class="row-item">Произношение</div>
                        <div class="row-item">Перевод</div>
                        <div class="row-item">Статистика</div>
                        <div class="row-item">Действия</div>
                    </div>
                    {% for performance, card in zip %}
                        <div class="table-row">
                            <div class="row-item">{{ card.chinese }}</div>
                            <div class="row-item">{{ card.transcription }}</div>
                            <div class="row-item">{{ card.translation }}</div>
                            <div class="row-item">{{ performance.accuracy_percentage }}%</div>
                            <div class="row-item">
                                <a href="/index/null/{{ performance.id }}"
                                   class="btn btn-outline-secondary">Обнулить</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <p>Пока ничего нет</p>
        {% endif %}
    </main>
{% endblock %}