{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1>{{ user.username }}</h1>
        <div class="cards">
            {% if user.decks %}
                {% for deck in user.sort_user_decs() %}
                    <div class="card">
                        <div class="card-body"
                             style="padding-bottom: 0; padding-top: calc(var(--bs-card-spacer-y)/1.7)">
                            <h5 class="card-title">{{ deck.name }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">by {{ deck.creator.username }}</h6>
                        </div>
                        <div>
                            <div class="progress-bar-container"
                                 style="padding: 0 var(--bs-card-spacer-x); padding-bottom: calc(var(--bs-card-spacer-y)/1.7)">
                                {% for performance in deck.get_last_performances(user.id, 3) %}
                                    {% set percent = performance.percent_correct %}
                                    {% if percent >= 80 %}
                                        {% set progress_color = 'bg-success' %}
                                    {% elif percent >= 60 %}
                                        {% set progress_color = 'bg-warning' %}
                                    {% else %}
                                        {% set progress_color = 'bg-danger' %}
                                    {% endif %}
                                    <div class="progress-bar-row">
                                        <span class="progress-text">{{ moment(performance.test_date).fromNow() }}</span>
                                        <span class="progress-text">{{ performance.percent_correct }}%</span>
                                    </div>
                                    <div class="progress progress-slim">
                                        <div class="progress-bar {{ progress_color }}" role="progressbar"
                                             aria-valuenow="{{ percent }}" aria-valuemin="0" aria-valuemax="100"
                                             style="width: {{ percent }}%;"></div>
                                    </div>

                                {% endfor %}
                                <div>
                                    <a href="/deck/{{ deck.id }}" class="card-link">Open</a>
                                    {% if deck in current_user.decks %}
                                        <a href="/review/{{ deck.id }}" class="card-link">Repeat</a>
                                    {% endif %}
                                    {% if current_user.id == deck.creator_id or current_user.username == 'admin' %}
                                        <a href="/edit_deck/{{ deck.id }}" class="card-link">Edit</a>
                                    {% endif %}
                                    {% if deck in current_user.decks %}
                                        <a href="/remove_deck/{{ deck.id }}" class="card-link">Remove</a>
                                    {% else %}
                                        <a href="/add_deck/{{ deck.id }}" class="card-link">Add</a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="card-footer text-muted">
                                <div class="progress-text">{{ moment(deck.timestamp_created(user.id)).format('L') }}</div>
                            </div>
                        </div>
                    </div>
                    {% if loop.index is divisibleby 4 %}
                        </div>
                        <div class="cards">
                    {% endif %}
                {% endfor %}
            </div>
            {% else %}
                <p>no decs yet</p>
            {% endif %}
        {% if current_user.username == user.username %}
            <form action="" method="post" style="width: 95%; align-content: center; margin: 0 auto;">
                {{ form.hidden_tag() }}
                {{ form.name.label }}
                {{ form.name(size=32, class_="form-control") }}
                <p>
                    {% for error in form.name.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                <p>{{ form.submit(class_="btn btn-primary w-100 py-2") }}</p>
            </form>
        {% endif %}
    </div>
    </div>
{% endblock %}