{% extends "base.html" %}
{% block content %}
    <main class="container">
        {% if current_user.is_authenticated %}
            <h1>Hi, {{ current_user.username }}!</h1>
        {% endif %}
        <h1>Список слов на сайте (Всего: {{ words.total }})</h1>
        <form method="GET" action="{{ url_for('words') }}">
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="search"
                       placeholder="Поиск по иероглифу, переводу или пиньиню"
                       value="{{ request.args.get('search', '') }}">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Поиск</button>
                </div>
            </div>
        </form>
        {% if words.items %}
            <div class="container">
            <div class="table-container">
                <div class="table-row heading">
                    <div class="row-item">Слово</div>
                    <div class="row-item">Произношение</div>
                    <div class="row-item">Перевод</div>
                    {% if current_user.is_authenticated %}
                        <div class="row-item">Статистика</div>
                        <div class="row-item">Раунды</div>
                        <div class="row-item">Действия</div>
                        {% if current_user.username == "admin" %}
                            <div class="row-item">Администрирование</div>
                            <div class="row-item"></div>
                        {% endif %}
                    {% endif %}
                </div>
                {% for card in words %}
                    <div class="table-row">
                        <div class="row-item">
                            {% if card.children.count() > 0 %}
                                <button class="toggle-children">↓</button>
                            {% endif %}
                            <div class="chinese">{{ card.chinese }}</div>
                        </div>
                        <div class="row-item">{{ card.transcription }}</div>
                        <div class="row-item">{{ card.translation }}</div>
                        {% if current_user.is_authenticated %}
                            {% if card.perf_by_user(current_user.id) %}
                                <div class="row-item percent">{{ card.perf_by_user(current_user.id).accuracy_percentage }}%</div>
                                <div class="row-item">{{ card.perf_by_user(current_user.id) }}</div>
                                <div class="row-item">
                                    <a href="{{ url_for('obnulit', back='words', id=card.id, search=request.args.get('search', ''), page=request.args.get('page', '')) }}"
                                       class="btn btn-outline-secondary">Обнулить</a>
                                </div>
                            {% else %}
                                <div class="row-item">-</div>
                                <div class="row-item">-</div>
                                <div class="row-item">-</div>
                            {% endif %}
                        {% endif %}
                        {% if current_user.username == "admin" %}
                            <div class="row-item">
                                <a href="{{ url_for('delete_card', id=card.id, search=request.args.get('search', ''), page=request.args.get('page', '')) }}"
                                   class="btn btn-primary">Удалить</a>
                            </div>
                            <div class="row-item">
                                <a href="{{ url_for('get_childs', back='words', id=card.id, search=request.args.get('search', ''), page=request.args.get('page', '')) }}"
                                   class="btn btn-primary">Разложить</a>
                            </div>
                        {% endif %}
                    </div>
                    {% if card.children.count() > 0 %}
                        <div class="children" style="display: none;">
                            {% for child in card.children.order_by() %}
                                <div class="table-row">
                                    <div class="row-item">
                                        {% if child.children.count() > 0 %}
                                            <button class="toggle-children">↓</button>
                                        {% endif %}
                                        -->
                                    </div>
                                    <div class="row-item">
                                        <div class="chinese">{{ child.chinese }}</div>
                                        {{ child.transcription }}
                                    </div>
                                    <div class="row-item">{{ child.translation }}</div>
                                    {% if current_user.is_authenticated %}
                                        {% if child.perf_by_user(current_user.id) %}
                                            <div class="row-item percent">{{ child.perf_by_user(current_user.id).accuracy_percentage }}%</div>
                                            <div class="row-item">{{ child.perf_by_user(current_user.id) }}</div>
                                            <div class="row-item">
                                                <a href="/words/null/{{ child.perf_by_user(current_user.id).id }}"
                                                   class="btn btn-outline-secondary">Обнулить</a>
                                            </div>
                                        {% else %}
                                            <div class="row-item">-</div>
                                            <div class="row-item">-</div>
                                            <div class="row-item">-</div>
                                        {% endif %}
                                    {% endif %}
                                    {% if current_user.username == "admin" %}
                                        <div class="row-item">
                                            <a href="{{ url_for('remove_child', back='words', card_id=child.id, parent_id = card.id, search=request.args.get('search', ''), page=request.args.get('page', '')) }}"
                                               class="btn btn-primary">Убрать</a>
                                        </div>
                                        <div class="row-item">
                                            <a href="{{ url_for('get_childs', back='words', id = child.id, search=request.args.get('search', ''), page=request.args.get('page', '')) }}"
                                               class="btn btn-primary">Разложить</a>
                                        </div>
                                    {% endif %}
                                </div>
                                {% if child.children.count() > 0 %}
                                    <div class="children2" style="display: none;">
                                        {% for child2 in child.children.order_by() %}
                                            <div class="table-row">
                                                <div class="row-item">--></div>
                                                <div class="row-item">
                                                    {% if child2.children.count() > 0 %}
                                                        <button class="toggle-children">↓</button>
                                                    {% endif %}
                                                    <div class="chinese">{{ child2.chinese }}</div>
                                                    {{ child2.transcription }}
                                                </div>
                                                <div class="row-item">{{ child2.translation }}</div>
                                                {% if current_user.is_authenticated %}
                                                    {% if child2.perf_by_user(current_user.id) %}
                                                        <div class="row-item percent">{{ child2.perf_by_user(current_user.id).accuracy_percentage }}%</div>
                                                        <div class="row-item">{{ child2.perf_by_user(current_user.id) }}</div>
                                                        <div class="row-item">
                                                            <a href="/words/null/{{ child2.perf_by_user(current_user.id).id }}"
                                                               class="btn btn-outline-secondary">Обнулить</a>
                                                        </div>
                                                    {% else %}
                                                        <div class="row-item">-</div>
                                                        <div class="row-item">-</div>
                                                        <div class="row-item">-</div>
                                                    {% endif %}
                                                {% endif %}
                                                {% if current_user.username == "admin" %}
                                                    <div class="row-item">
                                                        <a href="{{ url_for('remove_child', back='words', card_id=child2.id, parent_id = child.id, search=request.args.get('search', ''), page=request.args.get('page', '')) }}"
                                                           class="btn btn-primary">Убрать</a>
                                                    </div>
                                                    <div class="row-item"></div>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}

            </div>
            {% if words.pages > 1 %}
                <div class="pagination-container">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            {% if words.has_prev %}
                                <li class="page-item">
                                    <a class="page-link"
                                       href="{{ url_for('words', page=words.prev_num) }}">&laquo;</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <span class="page-link">&laquo;</span>
                                </li>
                            {% endif %}
                            {% for page_num in words.iter_pages() %}
                                {% if page_num %}
                                    {% if page_num != words.page %}
                                        <li class="page-item">
                                            <a class="page-link"
                                               href="{{ url_for('words', page=page_num) }}">{{ page_num }}</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item active">
                                            <span class="page-link">{{ page_num }}</span>
                                        </li>
                                    {% endif %}
                                {% else %}
                                    <li class="page-item disabled">
                                        <span class="page-link">&hellip;</span>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            {% if words.has_next %}
                                <li class="page-item">
                                    <a class="page-link"
                                       href="{{ url_for('words', page=words.next_num) }}">&raquo;</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <span class="page-link">&raquo;</span>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            {% endif %}
        {% else %}
            <p>Пока нет изученных слов</p>
        {% endif %}
        <div class="modal fade" id="modal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Stroke order</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body"></div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% if current_user.is_authenticated %}
    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/hanzi-writer@3.5/dist/hanzi-writer.min.js"></script>
        <script>
            window.addEventListener('DOMContentLoaded', function () {
                var accuracyCells = document.querySelectorAll('.percent');
                accuracyCells.forEach(function (cell) {
                    var accuracy = parseInt(cell.textContent);
                    if (accuracy >= 80) {
                        cell.classList.add('green');
                    } else if (accuracy >= 60) {
                        cell.classList.add('yellow');
                    } else if (accuracy >= 20) {
                        cell.classList.add('red')
                    }
                });

                const toggleButtons = document.querySelectorAll('.toggle-children');
                {#console.log(toggleButtons)#}
                toggleButtons.forEach(button => {
                    button.addEventListener('click', () => {
                        const parent = button.parentElement.parentElement;
                        const children = parent.nextElementSibling;
                        children.style.display = children.style.display === 'none' ? 'block' : 'none';
                        button.textContent = children.style.display === 'none' ? '↓' : '↑'
                    });
                });

                const rowItems = document.querySelectorAll('div.row-item');
                rowItems.forEach(rowItem => {
                    const chineseElement = rowItem.querySelector('.chinese');
                    if (chineseElement) {
                        console.log(rowItem)
                        rowItem.addEventListener('click', (event) => {
                            if (!event.target.closest('.toggle-children')) {
                                const answer = chineseElement.textContent.trim();
                                showModal(answer);
                            }
                        });
                    }
                });
            });

            function showModal(answer) {
                var modalBody = document.querySelector('.modal-body');
                modalBody.style.display = 'flex';
                modalBody.style.flexDirection = 'column';
                modalBody.style.flexWrap = 'nowrap';
                modalBody.style.justifyContent = 'center';

                modalBody.innerHTML = '';
                const isDarkMode = localStorage.getItem('theme') === 'dark';
                const strokeColor = isDarkMode ? '#ffffff' : '#333333';
                const outlineColor = isDarkMode ? '#333333' : '#ffffff';

                var characterContainer = document.createElement('div');
                characterContainer.classList.add('character-container');
                modalBody.appendChild(characterContainer);

                var answers = answer.split('');
                answers.forEach(function (char, index) {
                    var charTargetId = 'character-target-' + (index + 1);
                    var charDiv = document.createElement('div');
                    charDiv.id = charTargetId;
                    charDiv.style.width = '100px';
                    charDiv.style.height = '100px';
                    characterContainer.appendChild(charDiv);


                    var writer = HanziWriter.create(charTargetId, char, {
                        width: 100,
                        height: 100,
                        padding: 5,
                        strokeAnimationSpeed: 1.5,
                        delayBetweenStrokes: 20,
                        strokeColor: strokeColor,
                        outlineColor: outlineColor,
                    });
                    charDiv.addEventListener('click', function () {
                        writer.animateCharacter();
                    });
                });

                fetchTranslation(answer).then(function (data) {
                    var pronounciationDiv = document.createElement('div');
                    pronounciationDiv.textContent = data.pronunciation;
                    pronounciationDiv.classList.add('character-container');
                    modalBody.appendChild(pronounciationDiv);

                    var translateDiv = document.createElement('div');
                    translateDiv.textContent = data.translation;
                    translateDiv.classList.add('character-container');
                    modalBody.appendChild(translateDiv);
                });


                $('#modal').modal('show');
            }

            function fetchTranslation(char) {
                return fetch('/api/translate', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({'char': char})
                })
                    .then(response => response.json())
                    .catch(error => console.error('Ошибка:', error));
            }

        </script>
    {% endblock %}
{% endif %}